

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}



.container{

    background-position: center;
    position: absolute;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 800px;
    /* background:#eff3f7; */
    border-radius: 10px;
    margin: 6% auto;
    font-size: 0;
    overflow: hidden;
    opacity: 0.88;


}


aside{
    width: 200px;
    height:800px;
    background-color: #e7e6e1;
    display: inline-block;
    font-size: 15px;
    vertical-align: top;
}

main{
	width:600px;
	height:800px;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}


aside ul{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:690px;
}
aside li{
    padding-left: 30px;
    padding-top: 10px;
}
aside li:hover{
	background-color:#5e616a;
}
aside li div{
	display:inline-block;
	vertical-align:top;
	margin-top:12px;
}
aside li h2{
	font-size:19px;
	color:black;
	font-weight:normal;
	margin-bottom:5px;
}
.notification{
    color:seagreen
}
h2,h3{
	margin:0;
}
.status{
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}
.green{
	background-color:#58b666;
}
.orange{
	background-color:#ff725d;
}
.blue{
	background-color:#6fbced;
	margin-right:0;
	margin-left:7px;
}



main header{
	height:80px;
    background: #f7f6e7;
    text-align: center;
	padding:30px 20px 30px 40px;
}
main header > *{
	display:inline-block;
	vertical-align:top;
}

main header h2{
	font-size:16px;
	margin-bottom:5px;
    color: black;
}
main header h3{
	font-size:14px;
	font-weight:normal;
	color:#7e818a;
}
#chat{
	padding-left:0;
	margin:0;
    background: #DEF2F1;
	list-style-type:none;
	overflow-y:scroll;
	height:560px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;

}
#chat li{
	padding:10px 30px;
}
#chat h2,#chat h3{
	display:inline-block;
	font-size:13px;
	font-weight:normal;
}
#chat h3{
	color:#bbb;
}
#chat .entete{
	margin-bottom:5px;
}
#chat .message{
	padding:20px;
	color:#fff;
	line-height:25px;
	max-width:90%;
	display:inline-block;
	text-align:left;
	border-radius:5px;
}
#chat .me{
	text-align:right;
}
#chat .you .message{
	background-color:#314e52;
}
#chat .me .message{
	background-color:#F79E02;
}
#chat .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
}
#chat .you .triangle{
    border-color: transparent transparent #314e52 transparent;
    margin-left:15px;
}
#chat .me .triangle{
    border-color: transparent transparent #f2a154 transparent;
    margin-left:495px;
}
main footer{
	height:155px;
    background: #f7f6e7;
	padding:20px 30px 10px 20px;
}
main footer textarea{
	resize:none;
	border:none;
	display:block;
	width:100%;
	height:80px;
	border-radius:3px;
	padding:20px;
	font-size:13px;
	margin-bottom:13px;
}
main footer textarea::placeholder{
	color:#ddd;
}
main footer img{
	height:30px;
	cursor:pointer;
}
main footer button{
    text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	color:#6fbced;
	vertical-align:top;
	margin-left:400px;
	margin-top:5px;
	display:inline-block;
}