

<div class="tab">
    <button (click)="navigateToPrivateChat()"> Private chat</button>
    <button (click)="navigateToAnalytics()"> Chat analytics </button>
</div>

<div class="container">          
    <aside>
        <ul >
            <li (click)="openChat(friend)" *ngFor="let friend of this.messageService.friendsList">
                <div>
                    <h2>{{friend.username}}</h2>
                    <span class="notification" *ngIf="friend.numberOfUnreadMessages>0">
                        {{friend.numberOfUnreadMessages}} new messages
                    </span>
                </div>
            </li>
        </ul>
    </aside> 
    <main>

        <header>
            <!-- <img src="assets/bole.jpg" style="width: 55px; height: 55px;" alt=""> -->
            <div>
                <h2 *ngIf="this.messageService.currentFriend!=null">Chat with {{this.messageService.currentFriend.username}}</h2>
                <h2 *ngIf="this.messageService.currentFriend==null"> Welcome to chat App click on the person to start chating</h2>
            </div>
        </header>
        <ul id="chat" #CHAT>
            <div *ngIf ="firstClicked() == true" >
                <div *ngFor = "let msg of this.messageService.currentChatMessages"> 
                <li *ngIf = "msg.senderId != getMyId()" class="you">
                    <div class="entete">
                        <span class="status green"></span>
                        <h3 color=black>{{msg.createdTimeInMillis | date:'medium'}}</h3>
                    </div>
                    <div class="triangle"></div>
                    <div class="message">
                        {{msg.data}}
                    </div>
                </li>
                <li *ngIf = "msg.senderId==getMyId()"  class="me" >
                    <div class="entete">
                        <h3>{{msg.createdTimeInMillis | date:'medium'}}</h3>
                        <span class="status blue"></span>
                    </div>
                    <div class="triangle"></div>
                    <div class="message">
                        {{msg.data}}
                    </div>
                </li>
                </div>
            </div>
               
            </ul>

            <footer>
                <textarea [(ngModel)] = "messageToSend" ></textarea>
                <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png" alt="">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png" alt=""> -->
                <button (click)="send()">Send</button>
            </footer>
    </main>

</div>
